<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Yeah!!</strong> Thank you for getting in touch! </p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="{% url 'FoodApp:index' %}" role="button">Continue to homepage</a>
  </p>
</div>
</body>
</html>